body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(115deg, #a07361, #eed7b2);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h2{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ddd;
}
select, input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}
input{
    width:85%;
}

