body{
    background: linear-gradient(115deg, #f97794, #623aa2);
    margin: 0;
    min-height: 100vh;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1{
    color: black;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}

.time{
    height: 150px;
    width:60%;
    background-color:#ffe5ff;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time h3{
    margin-left:40px;
    font-size: 40px;
    width: 30%;
    text-align: center;

}

.time h1{
    width:50%;
    text-align: center;
}

.buttons{
    width: 10%;
    display: flex;
    flex-direction: column;
    gap:6px;
}

.buttons .start{
    background-color: rgb(43, 183, 57);
    border-radius: 4px;
}
.buttons .stop{
    background-color: rgb(229, 35, 97);
    border-radius: 4px;
}
.buttons .reset{
    background-color: rgb(21, 175, 222);
    border-radius: 4px;
}